
* {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 16px;
}

.wrap {
	position: relative;
	width: 100%;
}

.titl {
	height: 2.5em;
	font-size: 1.5em;
	text-align: center;
	line-height: 2.5em;
}

.set, .down {
	position: absolute;
	left: 50%;
	width: 500px;
	transform: translate(-50%,-50%);
	text-align: center;
	margin-top: 20px;
}

.hidden {
	display: none;
}